.contacts
{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: 'Montserrat', sans-serif;
    padding: 1.3rem;
}

.contacts > div:first-of-type
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2rem;
}

.inputs
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs > div:first-of-type 
{
    display: flex;
    justify-content: space-between;
}

.firstrow > input
{
    width: 40%;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0.3rem;
}


.secondRow >  input
{
    width: 100%;
    height: 2rem;
    margin-bottom: 2rem;
    padding: 0.3rem;
}

.thirdRow > textarea
{
    padding: 0.5rem;
    width: 100%;
    height: 7rem;
}

.firstrow > input:focus,
.secondRow >  input:focus,
.thirdRow > textarea:focus
{
    background-color: rgb(231, 225, 225);
}

.location
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.location > div:first-of-type
{
    background-color: rgb(226, 225, 221);
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60%;
    margin: 0 1rem 2rem 0;
}

.firstIcon
{
    width: 5rem !important; 
}

.location > div:first-of-type:hover
{
    background-color: rgb(39, 219, 105);
}

.locationContent > div:first-of-type
{
    font-size:1.2rem;
    font-weight: bold;
}

.locationContent > div:last-of-type
{
    font-size: 0.9rem;
    color:rgb(163, 161, 148)
}

.inputs > button
{
    background-color: rgb(39, 219, 105);
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 1rem;
    margin-top: 1rem;
    width: 7rem;
    height: 2rem;
}

.inputs > button:hover
{
    background-color: rgb(27, 184, 12);
    font-weight: normal;
}